{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/admin.css') }}">
{% endblock %}

{% block body %}
<h1 class="titre">Bonjour Johannes</h1>
    <ul class="btnPoste">
        <a href="{{ path('app_poste_one_index') }}" class="btnAction">Poste 1</a>
        <a href="{{ path('app_poste_two_index') }}" class="btnAction">Poste 2</a>
        <a href="{{ path('app_poste_three_index') }}" class="btnAction">Poste 3</a>
        <a href="{{ path('app_poste_four_index') }}" class="btnAction">Poste 4</a>
    </ul>

<h3 class="titreReservation">Voici le récapitulatif des réservations</h3>
    <div>
        <h4 class="titre2">Réservations du Poste 1</h4>
          <table class="table">
            <thead>
                <tr class="tableIndex">
                    <th>Arrivée</th>
                    <th>Départ</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Validé</th>
                </tr>
            </thead>
            <tbody>
            {% for poste_one in poste_ones %}
                <tr class="tableValeur">
                    <td>{{ poste_one.start ? poste_one.start|date('d-m-Y') : '' }}</td>
                    <td>{{ poste_one.end ? poste_one.end|date('d-m-Y') : '' }}</td>
                    <td>{{ poste_one.email }}</td>
                    <td>{{ poste_one.phoneNumber }}</td>
                    <td>{{ poste_one.isApprouved ? 'Oui' : 'Non' }}</td>
                </tr>
            {% else %}
                <li>no records found</li>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr class="hr">
    <div>
        <h4 class="titre2">Réservations de Poste 2</h4>
        <table class="table">
            <thead>
                <tr class="tableIndex">
                    <th>Arrivée</th>
                    <th>Départ</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Validé</th>
                </tr>
            </thead>
            <tbody>
            {% for poste_two in poste_twos %}
                <tr class="tableValeur">
                    <td>{{ poste_two.start ? poste_two.start|date('d-m-Y') : '' }}</td>
                    <td>{{ poste_two.end ? poste_two.end|date('d-m-Y') : '' }}</td>
                    <td>{{ poste_two.email }}</td>
                    <td>{{ poste_two.phoneNumber }}</td>
                    <td>{{ poste_two.isApprouved ? 'Oui' : 'Non' }}</td>
                </tr>
            {% else %}
                <li>no records found</li>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr class="hr">
    <div>
        <h4 class="titre2">Réservations du Poste 3</h4>
          <table class="table">
            <thead>
                <tr class="tableIndex">
                    <th>Arrivée</th>
                    <th>Départ</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Validé</th>
                </tr>
            </thead>
            <tbody>
            {% for poste_three in poste_threes %}
                <tr class="tableValeur">
                    <td>{{ poste_three.start ? poste_three.start|date('d-m-Y') : '' }}</td>
                    <td>{{ poste_three.end ? poste_three.end|date('d-m-Y') : '' }}</td>
                    <td>{{ poste_three.email }}</td>
                    <td>{{ poste_three.phoneNumber }}</td>
                    <td>{{ poste_three.isApprouved ? 'Oui' : 'Non' }}</td>
                </tr>
            {% else %}
                <li>no records found</li>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr class="hr">
    <div>
        <h4 class="titre2">Réservations du Poste 4</h4>
          <table class="table">
            <thead>
                <tr class="tableIndex">
                    <th>Arrivée</th>
                    <th>Départ</th>
                    <th>Email</th>
                    <th>Tel</th>
                    <th>Validé</th>
                </tr>
            </thead>
            <tbody>
            {% for poste_four in poste_fours %}
                <tr class="tableValeur">
                    <td>{{ poste_four.start ? poste_four.start|date('d-m-Y') : '' }}</td>
                    <td>{{ poste_four.end ? poste_four.end|date('d-m-Y') : '' }}</td>
                    <td>{{ poste_four.email }}</td>
                    <td>{{ poste_four.phoneNumber }}</td>
                    <td>{{ poste_four.isApprouved ? 'Oui' : 'Non' }}</td>
                </tr>
            {% else %}
                <li>no records found</li>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <hr class="hr">
{% endblock %}

