{# templates/payment/success.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Paiement réussi{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/poste.css') }}">
{% endblock %}

{% block body %}
    <div class="formPrixPayment">
    <h1>Paiement réussi</h1>
    <h1>Confirmation de votre réservation</h1>
    <p>Votre réservation a été confirmée avec les détails suivants :</p>
    <ul>
        <li>Poste: {{ posteType }}</li>
        <li>Date d'arrivée: {{ start }}</li>
        <li>Date de départ: {{ end }}</li>
        <li>Pellets: {{ pellets }}</li>
        <li>Graines: {{ graines }}</li>
        <li>Acompte: {{ is_deposit }} EUR</li>
        <li>Montant total: {{ totalPrice }} EUR</li>
    </ul>
    <p>Merci pour votre réservation.</p>
    </div>
{% endblock %}