{# templates/poste_one/new.html.twig #}

{% extends 'base.html.twig' %}

{% block body %}
    <h1>Faire une Reservation</h1>

    {{ form_start(form, {'attr': {'class': 'form'}}) }}
        <div>
            {{ form_label(form.start, 'Date d\'arrivée :', {'attr': {'class': 'formStart'}}) }}
            {{ form_widget(form.start, {'attr': {'class': 'formStart'}}) }}
        </div>
        <div>
            {{ form_label(form.end, 'Date de départ :', {'attr': {'class': 'formEnd'}}) }}
            {{ form_widget(form.end, {'attr': {'class': 'formEnd'}}) }}
        </div>
        <div>
            {{ form_label(form.email, 'Email', {'attr': {'class': 'formEmail'}}) }}
            {{ form_widget(form.email, {'attr': {'class': 'formEmail'}}) }}
            {{ form_errors(form.email) }}
        </div>
        <div>
            {{ form_label(form.phoneNumber, 'Numéro de tel', {'attr': {'class': 'formPhone'}}) }}
            {{ form_widget(form.phoneNumber, {'attr': {'class': 'formPhone'}}) }}
            {{ form_errors(form.phoneNumber) }}
        </div>
        <div>
            {{ form_label(form.numberOfFishers, 'Number of Fishers') }}
            {{ form_widget(form.numberOfFishers) }}
        </div>
        <div>
            {{ form_label(form.pellets, 'Pellets') }}
            {{ form_widget(form.pellets) }}
        </div>
        <div>
            {{ form_label(form.graines, 'Graines') }}
            {{ form_widget(form.graines) }}
        </div>
        <button class="btnAction">{{ button_label|default('Combien çà coute?') }}</button>
        
    {{ form_end(form) }}

{% endblock %}
